/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Variables*/
:root{
    /*Backgrounds*/
    --bg-main: #cbcbcb; 
    --bg-card-1-5: hsl(256, 67%, 59%);
    --bg-card-3-8: hsl(39, 100%, 71%);
    --bg-card-2-4-6-7: hsl(0, 0%, 100%);

    /*Colors Texts and Fonts*/
    --font: 'Poppins', sans-serif;
    --color-strong-1: hsl(33, 94%, 74%);
    --color-strong-2: hsl(254, 88%, 90%);
    --color-w: hsl(0, 0%, 100%);
    --color-b: hsl(0, 0%, 7%);
    --color-p: hsl(256, 33%, 59%);

    /*Width's*/
    --margin-t: 2rem;
    --margin-web: 0 auto;
    --size: 90%;
    --max-size: 1200px;
    --padding-size: 1.5rem 2rem;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
    font-family: var(--font);
}

main{
    width: 100%;
    height: 100%;
}

.container--main{
    width: var(--size);
    max-width: var(--max-size);
    margin: var(--margin-web);
    margin-top: var(--margin-t);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 270px);
    gap: 20px;
}

.card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: var(--padding-size);
}

.card--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card--container-5{
    flex-direction: row;
}

.card--1{
    grid-column: 3/7;
    grid-row: 1/1;
}

.card--2{
    grid-column: 3/5;
    grid-row: 2/3;
}

.card--3{
    grid-column: 5/7;
    grid-row: 2/3;
}
.card--4{
    grid-column: 7/-1;
    grid-row: 1/3;
}

.card--5{
    grid-column: 5/-1;
    grid-row: 3/-1;
}

.card--6{
    grid-column: 3/5;
    grid-row: 3/-1;
}

.card--7{
    grid-column: 1/3;
    grid-row: 1/1;
}

.card--8{
    grid-column: 1/3;
    grid-row: 2/-1;
}

.card--1,
.card--5{
    background: var(--bg-card-1-5);
}

.card-title{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-w);
}

.card-title-1{
    text-align: center;
}

.strong--1{
    color: var(--color-strong-1);
}

.card-figure{
    width: 100%;
    margin: 20px 0;
}

.card-img{
    display: block;
    width: 100%;
}

.card-paragraph{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-b);
}

.card-paragraph-1{
    color: var(--color-w);
    text-align: center;
}

.card--2{
    background: var(--bg-card-2-4-6-7);
}

.card-title-2{
    width: 100%;
    color: var(--color-b);
    font-size: 1.6rem;
}

.card--3{
    background: var(--bg-card-3-8);
}

.card-title-3{
    color: var(--color-b);
    font-size: 1.5rem;
}

.card--4{
    background: var(--bg-card-2-4-6-7);
}

.card-title-4{
    color: var(--color-b);
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
    color: var(--color-p);
}

.card-title-5{
    text-align: center;
}

.card--6,
.card--7{
    background: var(--bg-card-2-4-6-7);
}

.card-title-6,
.card-title-7{
    color: var(--color-b);
}

.card-title-7{
    text-align: left;
    font-size: 1.6rem;
}

.strong--2{
    color: hsl(256, 67%, 59%);
}

.card--8{
    background: var(--bg-card-3-8);
}

.card-title-8{
    color: var(--color-b);

}

/*Responsive Design*/
@media screen and (max-width: 768px){
    main{
        width: 100%;
        height: 100%;
    }

    .container--main{
        width: var(--size);
        max-width: var(--max-size);
        margin: var(--margin-web);
        margin-top: var(--margin-t);
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .card{
        width: 100%;
        height: 100%;
        padding: var(--padding-size);
        border-radius: 10px;
    }

    .card--1,
    .card--5{
        background: var(--bg-card-1-5);
    }

    .card--container{
        width: 100%;
        height: 100%;
    }

    .card-title{
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.3;
        color: var(--color-w);
    }

    .card-title-1{
        text-align: center;
    }

    .strong--1{
        color: var(--color-strong-1);
    }

    .card-figure{
        width: 100%;
        margin: 20px 0;
    }
    
    .card-img{
        display: block;
        width: 100%;
        height: 100%;
    }

    .card-paragraph{
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 400;
        color: var(--color-b);
    }

    .card-paragraph-1{
        color: var(--color-w);
        text-align: center;
    }

    .card--2{
        background: var(--bg-card-2-4-6-7);
    }

    .card-title-2{
        width: 100%;
        color: var(--color-b);
        font-size: 1.5rem;
    }

    .card--3{
        background: var(--bg-card-3-8);
    }

    .card-title-3{
        font-size: 1.3rem;
        color: var(--color-b);
    }

    .card--4{
        background: var(--bg-card-2-4-6-7);
    }

    .card-title-4{
        font-size: 1.5rem;
        color: var(--color-b);
        text-align: center;
    }

    .subtitle{
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.3;
        color: var(--color-p);
    }

    .card-title-5{
        font-size: 1.5rem;
        text-align: center;
    }

    .card--6,
    .card--7{
        background: var(--bg-card-2-4-6-7);
    }

    .card-title-6,
    .card-title-7{
        color: var(--color-b);
    }

    .card-title-7{
        font-size: 1.5rem;
        text-align: left;
    }

    .strong--2{
        color: hsl(256, 67%, 59%);
    }

    .card--8{
        background: var(--bg-card-3-8);
    }

    .card-title-8{
        color: var(--color-b);
        font-size: 1.5rem;
    }
}